<div id="inicio" class="d-flex align-items-center flex-column vh-100">
  <img src="./assets/mlogos_logo_200x.png" alt="logo" class="img-fluid pt-5">
  <h1 class="h1 mt-5">EL MEJOR LOGO</h1>
  <h1 class="h1">AL MEJOR PRECIO</h1>
  <h3 class="h3">Tu decides, con Logo Vendes Más.</h3>
  <a href="#nosotros" class="mt-auto mb-5 text-center">Conócenos <br><i class="fa-solid fa-caret-down"></i></a>
</div>
<div id="nosotros" class="d-flex align-items-center justify-content-center flex-column vh-100 text-bg-light">
  <h1 class="mt-5">NOSOTROS</h1>
  <p class="text-center mt-3 mb-4">—</p>
  <p class="text-center w-50 ">Somos un Estudio de Diseño, dedicado <strong>Única y Exclusivamente en la Creación de
      Marcas</strong>
    (Logos) para Pequeños Negocios. Nosotros diseñamos tu Logotipo de manera Profesional,
    Económica y Rápida.</p>
</div>
<div class="container-fluid bg-secondary p-0" style="width: 97.3vw;">
  <div class="row p-0">
    <div class="col-sm-4 p-0">
      <div class="box">
        <img class="img-fluid" src="./assets/7_valerias_640x.jpg" alt="Logo Valerias" />
        <div class="cover">
          <div>
            <h3 class="name">Valerias</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
      <div class="box">
        <img class="img-fluid" src="./assets/4_adan_640x.jpg" alt="Logo Adan" />
        <div class="cover">
          <div>
            <h3 class="name">Adan</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="box">
        <img class="img-fluid" src="./assets/1_santocafe_640x.jpg" alt="Logo Santo Cafe" />
        <div class="cover">
          <div>
            <h3 class="name">Santo Cafe</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
      <div class="box">
        <img class="img-fluid" src="./assets/5_carfix_640x.jpg" alt="Logo Carfix" />
        <div class="cover">
          <div>
            <h3 class="name">Carfix</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
      <div class="box">
        <img class="img-fluid" src="./assets/6_trigornito_640x.jpg" alt="Logo Trigornito" />
        <div class="cover">
          <div>
            <h3 class="name">Trigornito</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="box">
        <img class="img-fluid" src="./assets/2_dogood_640x.jpg" alt="Logo Dogood" />
        <div class="cover">
          <div>
            <h3 class="name">Dogood</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
      <div class="box">
        <img class="img-fluid" src="./assets/3_elchiles_640x.jpg" alt="Logo Taqueria El Chiles" />
        <div class="cover">
          <div>
            <h3 class="name">Taqueria El Chiles</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
      <div class="box">
        <img class="img-fluid" src="./assets/6_blackbeard_640x.jpg" alt="Logo Black Beard" />
        <div class="cover">
          <div>
            <h3 class="name">Black Beard</h3>
            <p class="title">DISEÑO DE LOGOTIPO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row mt-5 mb-5 justify-content-center">
    <div class="col-sm-9">
      <a href="#inicio"><img class="img-fluid" src="./assets/mlogos_logo_200x.png" alt="Logo Maquina de logos"
          style="width: 75px;" /></a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <P class="">DIRECCIÓN</P>
      <P class="">—</P>
      <P class="">Agustina Ramírez Gabriel Leyva<br>C.P. 80028. Culiacán, Sinaloa,<br>México.</P>
      <a href="https://w.app/maquinadelogos" target="_blank" class="">C. 6671 23 45 67</a><br>
      <a href="mailto:maquinadelogos.estudio@gmail.com" target="_blank"
        class="">maquinadelogos.estudio&#64;gmail.com</a><br>
    </div>
    <div class="col-sm-3">
      <P class="">REDES SOCIALES</P>
      <P class="">—</P>
      <a href="https://www.facebook.com/maquinadelogos" target="_blank"><i class="fa-brands fa-facebook"></i>
        MaquinaLogos</a><br>
      <a href="https://www.facebook.com/maquinadelogos" target="_blank"><i class="fa-brands fa-instagram"></i>
        MaquinaLogos</a><br>
      <a href="#nosotros" class="">NOSOTROS</a>
    </div>
    <div class="col-sm-3">
      <P class="">Copyright {{ year }}<br>Todos los derechos reservados.<br>Máquina de Logos.</P>
      <button type="button" class="mb-5 bs-danger-border-subtle btn btn-outline-light">Trabajos</button>
    </div>
  </div>
</div>
